  /* 
  PRODUCTION NOTES
  
  Hello There!
  I'm doing a fun course. This is one of the assignments. Below is the link to the full description but I've condensed it after the link. Throughout this assigment, I did some googling and found helpful links and have added them in the comments. Maybe you'll find them useful as well!

  https://github.com/jhu-ep-coursera/fullstack-course4/blob/master/assignments/assignment2/Assignment-2.md

    You must implement the following breakpoints that will be considered desktop, tablet, and mobile. 
  
  DESKTOP BREAKPOINT
    The browser should display a desktop version of the site when the width of the browser window is 992px and above. 
  
  TABLET BREAKPOINT
    Tablet view should appear only if the width of the browser window is between 768px and 991px, inclusively. 
  
  MOBILE BREAKPOINT
    Mobile view should appear only if the width of the browser is equal to or less than 767px.

  EXAMPLE TEXT
    placerat orci nulla pellentesque dignissim enim sit amet venenatis urna cursus eget nunc scelerisque viverra mauris in aliquam sem fringilla ut morbi tincidunt augue interdum velit euismod in pellentesque massa placerat duis ultricies lacus sed turpis tincidunt id aliquet risus feugiat in ante metus dictum
  */

/********** Base styles **********/
    * {
        box-sizing: border-box;
        font-family:"'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif'";
    }

    /* Add something so it doesn't completely kill our eyes
    See https://www.cssportal.com/css-color-converter/E0E0E0 */
    body {
        background-color: #E0E0E0;
    }

    h1 {
        font-size: 45px;
        margin-bottom: 15px;
        text-align: center;
    }

    h2 {
        margin: 0px;
    }

    /* Shades of green - https://cssgradient.io/shades-of-green/ */
    .menubox {
        background-color: #A31F34;
        border: 1px solid black;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .menuboxTitle {
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        color: white;
        float: right;
        padding: 8px;
        width: 180px;
        text-align: center;
    }

    .chicken {
        background-color: bisque;
        color: #7C3030;
    }

    .beef {
        background-color: #722F37;
        color: white;
    }

    .sushi {
        background-color: #FA8072;
        color: whitesmoke;
    }

    /* https://www.webstaurantstore.com/blog/1884/interior-color-choices-and-your-restaurants-message.html */
    .menuboxInfo {
        color: #DCDCDC;
        font-family: Helvetica;
        line-height: 150%;
        margin-right: auto;
        margin-left: auto;
        padding: 45px 20px 4px 20px;
        width: 100%;
    }

    /* Simple Responsive Framework. */
    .row {
        width: 100%;
    }
        
    /* Padding for menu boxes in one place */
    .mb-pad {
        padding: 15px;
    }


  /********** DESKTOP BREAKPOINT **********/
  @media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
    }
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 74.99%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }
  }
  
  /********** TABLET BREAKPOINT **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
    }
    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 74.99%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 100%;
    }
  }