/********** Base styles **********/
* {
    box-sizing: border-box;
    border-radius: 5px;
}

/* Add something so it doesn't completely kill our eyes
See https://www.cssportal.com/css-color-converter/E0E0E0 */
body {
    background-color: #E0E0E0;
    margin-top: 200px;
}

#fixHeader {
    background-color: #E0E0E0;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0;
    width: 100%;
}

h1 {
    font-size: 60px;
    font-family: 'Lobster', cursive;
    margin-bottom: 15px;
    text-align: center;
    /* text-shadow: 1px 1px 1px #222; */
}

h1 a {
    color: #253529;
    text-decoration: none;
}

h2 {
    margin: 0px;
}

input {
    font-size: 18px;
    height: 35px;
    margin-bottom: 15px;
}

p {
    font-family: Helvetica;
}

input#SearchTxt {
    padding: 10px;
    width: 60%;
}

input#SearchBtn {
    margin-left: 5px;
    width: 160px;
}

.searchBox {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.circleAvatar {
    border-radius: 50%;
    float: left;
    margin: 8px;
}

/* Shades of green - https://cssgradient.io/shades-of-green/ */
.menubox {
    background-color: #f2f3f4;
    border: 1px solid #a9a9a9;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.menuboxSizeLock {
    min-height: 270px;
}

.menuboxTitle {
    border-bottom: 1px soli #a9a9a9;
    border-left: 1px solid #a9a9a9;
    color: #808080;
    font-family: Helvetica;
    float: right;
    padding: 8px;
    width: 180px;
    text-align: center;
}

.tech {
    background-color: #696969;
    color: #e5e4e2;
}

.alert {
    background-color: #696969;
    color: #e5e4e2;
}

.fun {
    background-color: #696969;
    color: #e5e4e2;
}

.coursera {
    background-color: #214fc6;
    color: #e5e4e2;
}

.journal {
    background-color: #666699;
    color: #e5e4e2;
}

/* https://www.webstaurantstore.com/blog/1884/interior-color-choices-and-your-restaurants-message.html */
.menuboxInfo {
    color: #393434;
    font-family: Helvetica;
    line-height: 150%;
    margin-right: auto;
    margin-left: auto;
    padding: 45px 20px 4px 20px;
    width: 100%;
    word-wrap: break-word;
}

/* p {
    color: #393434;
    font-family: Helvetica;
    line-height: 150%;
    margin-right: auto;
    margin-left: auto;
    padding: 2px 20px 2px 20px;
    width: 100%;
    word-wrap: break-word;
} */

p {
    margin-right: auto;
    margin-left: auto;
    padding: 2px 20px 2px 20px;
    word-wrap: break-word;
}

/* Simple Responsive Framework. */
.row {
    /* margin-top: 200px; */
    width: 100%;
}
    
/* Padding for menu boxes in one place */
.mb-pad {
    padding: 15px;
}

/********** DESKTOP BREAKPOINT **********/
@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    }
    .col-lg-1 {
    width: 8.33%;
    }
    .col-lg-2 {
    width: 16.66%;
    }
    .col-lg-3 {
    width: 25%;
    }
    .col-lg-4 {
    width: 33.33%;
    }
    .col-lg-5 {
    width: 41.66%;
    }
    .col-lg-6 {
    width: 50%;
    }
    .col-lg-7 {
    width: 58.33%;
    }
    .col-lg-8 {
    width: 66.66%;
    }
    .col-lg-9 {
    width: 74.99%;
    }
    .col-lg-10 {
    width: 83.33%;
    }
    .col-lg-11 {
    width: 91.66%;
    }
    .col-lg-12 {
    width: 100%;
    }
}


/********** TABLET BREAKPOINT **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    }
    .col-md-1 {
    width: 8.33%;
    }
    .col-md-2 {
    width: 16.66%;
    }
    .col-md-3 {
    width: 25%;
    }
    .col-md-4 {
    width: 33.33%;
    }
    .col-md-5 {
    width: 41.66%;
    }
    .col-md-6 {
    width: 50%;
    }
    .col-md-7 {
    width: 58.33%;
    }
    .col-md-8 {
    width: 66.66%;
    }
    .col-md-9 {
    width: 74.99%;
    }
    .col-md-10 {
    width: 83.33%;
    }
    .col-md-11 {
    width: 91.66%;
    }
    .col-md-12 {
    width: 100%;
    }
}

/********** PHONE BREAKPOINT **********/
@media (min-width: 320px) and (max-width: 480px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
    }
    .col-sm-1 {
    width: 8.33%;
    }
    .col-sm-2 {
    width: 16.66%;
    }
    .col-sm-3 {
    width: 25%;
    }
    .col-sm-4 {
    width: 33.33%;
    }
    .col-sm-5 {
    width: 41.66%;
    }
    .col-sm-6 {
    width: 50%;
    }
    .col-sm-7 {
    width: 58.33%;
    }
    .col-sm-8 {
    width: 66.66%;
    }
    .col-sm-9 {
    width: 74.99%;
    }
    .col-sm-10 {
    width: 83.33%;
    }
    .col-sm-11 {
    width: 91.66%;
    }
    .col-sm-12 {
    width: 100%;
    }

/* Adjustments to layout due to the small screen size */

    #fixHeader {
        background-color: #E0E0E0;
        margin-left: auto;
        margin-right: auto;
        position: fixed;
        top: 0;
        width: 95%;
    }


    body {
        margin-top: 180px;
    }

    h1 {
        font-size: 32px;
        font-family: 'Lobster', cursive;
        margin-bottom: 15px;
        text-align: center;
    }

    input#SearchTxt {
        padding: 10px;
        width: 80%;
    }
    
    input#SearchBtn {
        margin-left: 5px;
        width: 170px;
    }


}